{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Paycor Public API v1",
    "version": "",
    "description": "\nWelcome to Paycor's Public API! This document is a reference for the APIs Paycor has available, and acts as a complement to the \"Guides\" section.\n\n# Getting Started\n\n<strong>To learn more about getting started with Paycor's Public APIs, check out our <a href=\"/guides\">Guides.</a></strong>\n\n# GET, PUT, POST, PATCH\n\n* When requesting object, use GET endpoints. All list endpoints support paging, as described [in the other doc].\n* When creating an object, use POST endpoints. Your code will need to create an object and send it to Paycor in your API call request body as JSON. You can use the \"request sample\" body as a starting point. Our endpoints will return a reference to the created object (the ID and GET API URL) for your system.\n* When updating an object, you will use PUT endpoints. The general flow would be to: GET the object you want to update, modify the fields as desired, then PUT the object (as JSON in the request body) to our endpoints. Some fields like the object's ID cannot be updated because they are system-set.\n* PATCH - partial update to existing resource\n\n  # Error Handling\n\n* 202 - Response to a successful request that has been received and accepted for processing, but processing has not yet been completed\n* 400: Please consult the response text to correct your request information.\n* 401 with response \"Access denied due to missing subscription key\": Please include your APIM Subscription Key as header Ocp-Apim-Subscription-Key or querystring parameter subscription-key. \n* 401 with no response: Please ensure you included a valid & current Access Token in the Authorization header.\n* 403: Please ensure your Access Token's scope has all the relevant access you need, on the AppCreator Data Access screen.\n* 404: Please validate the API route you are using. If that is correct, one of your IDs most likely does not exist or is not in a valid state.\n* 429: Paycor implements rate limits for our Public API. Each customer (implemented via APIM subscription key) has a limited number of calls. The number of calls is counted across all APIs, not per individual API. Please use bulk endpoints where available and spread your calls over a wider timespan.\n  * The default rate limit is up to 1000 API calls per minute (total across all our Public APIs).\n* 500: Please contact Paycor. When you make a POST or PUT call and receive a 500, please do not retry the call automatically - this may result in double-posting. GETs can be safely retried.\n\n\n# IDs\n\n* ClientId = LegalEntityId\n* TenantId = CompanyId\n* EmployeeId is not visible in Paycor's UI, you must retrieve it from the Public API\n\n# Earnings, Deductions, Taxes\n\nThis section describes the domain model for Paycor's Earnings, Deductions, and Taxes. This will provide background for many paydata-related Public API endpoints.\n\nPaycor stores Earnings, Deductions, and Taxes each at three levels:\n* Global: Same data across all legal entities. Setup by Paycor for customers to choose from. Sample Codes (note these will not be setup on every Legal Entity):\n  * Earnings: REG, OT\n  * Taxes: FITWH, SOC, SOCER, OHCIN\n  * Deductions: 401k, KMat, H125, UWay\n* Legal Entity or Tenant: Codes setup & customized on the legal entity or Tenant level. Must be tied to a Global Code..\n  * Perform UI allows creating Deduction and Earning codes on Tenant level (under Configure Company nav menu). These will be returned by the Legal Entity Public API endpoints. \n* Employee: codes setup on a particular employee, tied to a Legal Entity-level or Tenant-level code\n  * Employee Earnings/Deductions/Taxes are applied during payroll. Many properties are inherited from the Legal Entity or Global levels, but some can be overridden. \n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://apis.paycor.com"
    }
  ],
  "paths": {
    "/v1/employees/{employeeId}/payschedule": {
      "get": {
        "tags": [
          "Employee Pay Schedule"
        ],
        "summary": "Get Employee Pay Schedule by EmployeeID",
        "description": "This API will return upcoming pay scheduled for a given employee (upcoming check dates),\nor allow looking up the check date for specific pay period dates.\n* You must either specify the exact Period Start & End Date, or leave them blank. \n  * Alternatively you may consider 'GET Legal Entity Pay Schedule' which takes a range parameter.\n  * You can look up pay period dates from 'GET Legal Entity Pay Schedule' (scheduled dates) or 'GET Legal Entity Pay Data' (actual dates)\n* The actual pay dates may change depending on when the client admin processes payroll.\n\nData Access: View Employee Pay Schedule",
        "operationId": "Get Employee Pay Schedule by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the Employee for which you want to get the Pay Schedule",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "description": "Exact Period Start Date of Pay Schedule, to lookup specific payrun. ",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "description": "Exact Period End Date of Pay Schedule, if you wish to filter - defaults to showing upcoming (future) runs",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of Employee Pay Schedule",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Options to include more data: Additional Runs",
            "schema": {
              "type": "array",
              "nullable": true,
              "xml": {
                "name": "ArrayOfIncludes",
                "wrapped": true
              },
              "items": {
                "xml": {
                  "name": "Includes"
                },
                "$ref": "#/components/schemas/Includes8"
              }
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of Employee's Pay Schedules based on EmployeeID and filters provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPayPeriod"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/schedules": {
      "get": {
        "tags": [
          "Employee (Legacy / Perform Time) Schedules"
        ],
        "summary": "Get Employee Schedules by EmployeeID",
        "description": "Date requirements:\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n\nData Access: View Legacy/Perform Employee Schedules by Employee Id",
        "operationId": "Get Employee Schedules by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to get schedules",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of Employee Schedules, based on EmployeeID and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "ArrayOfEmployeeSchedule",
                    "wrapped": true
                  },
                  "items": {
                    "xml": {
                      "name": "EmployeeSchedule"
                    },
                    "$ref": "#/components/schemas/EmployeeSchedule"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee (Legacy / Perform Time) Schedules"
        ],
        "summary": "Add Schedule to Employee",
        "description": "Data Access: Create Legacy/Perform Time Employee Schedule",
        "operationId": "Add Schedule to Employee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to add a schedule",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeSchedule",
          "description": "Employee Schedule object to insert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Schedule2"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/schedules": {
      "get": {
        "tags": [
          "Employee (Legacy / Perform Time) Schedules"
        ],
        "summary": "Get Employee Schedules by Legal Entity ID",
        "description": "Date requirements:\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n\nData Access: View Legacy/Perform Employee Schedules by Legal Entity Id",
        "operationId": "Get Employee Schedules by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of Legal Entity for which you want to get schedules",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of Employee Schedules, based on Legal Entity ID and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeSchedule"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/schedules/{scheduleId}": {
      "delete": {
        "tags": [
          "Employee (Legacy / Perform Time) Schedules"
        ],
        "summary": "Delete Employee Schedule",
        "description": "Data Access: Delete Legacy/Perform Time Employee Schedule",
        "operationId": "Delete Schedule from Employee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "Employee ID of the schedule record you want to delete",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "description": "Schedule ID to delete",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/SchedulingJobs": {
      "get": {
        "tags": [
          "Employee Scheduling"
        ],
        "summary": "Get Scheduling Jobs by LegalEntityID",
        "description": "Data Access: View Legal Entity Scheduling Jobs",
        "operationId": "Get Scheduling Jobs by LegalEntityID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Legal Entity ID",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of Legal Entity Scheduling Jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSchedulingJob"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/schedulingShifts": {
      "get": {
        "tags": [
          "Employee Scheduling"
        ],
        "summary": "Get Scheduling by Legal Entity Id",
        "description": "Data Access: View scheduling shifts",
        "operationId": "Get Scheduling by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the Scheduling Shifts.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Scheduling start date time",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Scheduling end date time",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Scheduling shift list between dates for specific Legal Entity ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSchedulingShift"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee Scheduling"
        ],
        "summary": "Post Paycor Scheduling Shifts by Legal Entity Id",
        "description": "Data Access: Create Scheduling Shifts",
        "operationId": "POST Paycor Scheduling Shifts by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of Legal Entity for which you want to add the Scheduling Shifts",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "schedulingShifts",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulingShifts"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a list of Create Scheduling Shifts responses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSchedulingShiftsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/schedulingShifts/{shiftId}": {
      "get": {
        "tags": [
          "Employee Scheduling"
        ],
        "summary": "Get Scheduling Shift by Shift Id and Legal Entity Id",
        "description": "Data Access: View Scheduling Shift",
        "operationId": "Get Scheduling Shift by Shift Id and Legal Entity Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the Scheduling Shift",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "description": "ID of the Shift you want to get.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Scheduling Shift",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulingShift"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Scheduling"
        ],
        "summary": "Update existing Shift by Shift Id and Legal Entity Id",
        "description": "Data Access: Update Scheduling Shifts",
        "operationId": "Update existing Shift by Shift Id and Legal Entity Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to update the Scheduling Shifts",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "description": "ID of the Shift you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "schedulingShift",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulingShift2"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "Returns a CreateOrUpdateResponse object. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Scheduling"
        ],
        "summary": "Delete Scheduling Shift by ShiftId and LegalEntityId",
        "description": "Data Access:  Delete Scheduling Shift",
        "operationId": "Delete Scheduling Shift By ShiftId and LegalEntityId",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Legal Entity ID",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "description": "Shift ID to delete",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalEntities/{legalEntityId}/punches": {
      "get": {
        "tags": [
          "Employee Time Card Punches"
        ],
        "summary": "Get Legal Entity Employees Time Card Punches by Legal Entity ID",
        "description": "This pulls Punches data from Paycor's Perform Time system, for one legal entity.\n* Clients *do not* need to run payroll before hours are returned by this endpoint.\n* Our Public API currently does not include whether the hours have already been Approved or not.\n* Time Card hours may be delayed by 20 minutes.\n            \nDate requirements=\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n* Only dates will be considered, time will be set to 00=00=00 for start date and 23=59=59 for end date\n            \nData Access= View Employee Time Card Punches By Legal Entity Id\n            \nEndpoint can only be used if the Client has the Perform Time Service",
        "operationId": "Get Employee Time Card Punches by Legal Entity Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of legal entity for which you want to get hours",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Employee Time Cards. ContinuationToken would be valid only for 24 hours. If a call is made after 24 hours with old continuationToken, no data will be retrieved.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Time Card collection, based on Legal Entity Id and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTimeCardV3"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/punches": {
      "get": {
        "tags": [
          "Employee Time Card Punches"
        ],
        "summary": "Get Legal Entity Employees Time Card Punches by Employee ID",
        "description": "This pulls Punches data from Paycor's Perform Time system for one employee.\n* Clients *do not* need to run payroll before hours are returned by this endpoint.\n* Our Public API currently does not include whether the hours have already been Approved or not.\n* Time Card punches may be delayed by 20 minutes.\n            \nDate requirements=\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n* Only dates will be considered, time will be set to 00=00=00 for start date and 23=59=59 for end date\n            \nData Access= View Employee Time Card Punches\n            \nEndpoint can only be used if the Client has the Perform Time Service",
        "operationId": "Get Employee Time Card Punches by Employee Id",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of employee for which you want to get hours",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Employee Time Cards. ContinuationToken would be valid only for 24 hours. If a call is made after 24 hours with old continuationToken, no data will be retrieved.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Time Card collection, based on Legal Entity Id and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTimeCardV3"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/timeoffaccruals": {
      "get": {
        "tags": [
          "Employee Time Off Accruals"
        ],
        "summary": "Get Employee Accruals by EmployeeID",
        "description": "Data Access: View Employee Timeoff Accruals by Employee Id",
        "operationId": "Get Employee Accruals by Employee ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of an Employee for whom you want to get the Balances",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of Employee Balances",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of Employee Accrual Balances based on EmployeeID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeBalance"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/timeoffaccruals": {
      "get": {
        "tags": [
          "Employee Time Off Accruals"
        ],
        "summary": "Get Employee Accruals by Legal Entity ID",
        "description": "Data Access: View Employee Timeoff Accruals by Legal Entity Id",
        "operationId": "Get Employee Accruals by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "Legal entity ID for which you want to get the balances",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of employee balances",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of Employee Accrual Balances based on legal entity ID provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeBalance"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/timeoffplanassignment": {
      "post": {
        "tags": [
          "Employee Time Off Plan Assignment"
        ],
        "summary": "Post Employee Time Off Plan Assignment",
        "description": "Data Access= Assign an Employee to Time Off Plans",
        "operationId": "Assign time off plan to Employee",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "Unique Identifier of the Employee in Paycor's system to which you want to assign Time Off Plans",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeTimeOffPlanAssignments",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeeTimeOffPlanAssignment",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeeTimeOffPlanAssignment"
                  },
                  "$ref": "#/components/schemas/EmployeeTimeOffPlanAssignment"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns the details of the Time Off Plans assigned to the Employee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Time Off Plan Assignment"
        ],
        "summary": "Put Employee Time Off Plan Assignment",
        "description": "Data Access= Update an Employee Assignment to Time Off Plans",
        "operationId": "Update an Employee Assignment to Time Off Plans",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeTimeOffPlanAssignments",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeeTimeOffPlanAssignment",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeeTimeOffPlanAssignment"
                  },
                  "$ref": "#/components/schemas/EmployeeTimeOffPlanAssignment"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Returns the details of the Time Off Plans assigned to the Employee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Time Off Plan Assignment"
        ],
        "summary": "Delete Employee Time Off Plan Assignment",
        "description": "Data Access= Delete Assignment of an Employee to Time Off Plans",
        "operationId": "Delete Assignment of an Employee to Time Off Plans",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeTimeOffPlanAssignments",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeeTimeOffPlanAssignment",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeeTimeOffPlanAssignment"
                  },
                  "$ref": "#/components/schemas/EmployeeTimeOffPlanAssignment"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "Returns the details of the Time Off Plans assigned to the Employee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Employee Time Off Plan Assignment"
        ],
        "summary": "Get Employee Time Off Plan Assignment",
        "description": "Data Access= Get Assignment of an Employee to Time Off Plans",
        "operationId": "Get Assignments of an Employee to Time Off Plans",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the Time Off Plans assigned to the Employee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "ArrayOfEmployeePlanDetails",
                    "wrapped": true
                  },
                  "items": {
                    "xml": {
                      "name": "EmployeePlanDetails"
                    },
                    "$ref": "#/components/schemas/EmployeePlanDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/timeoffplanassignment/startingbalance": {
      "put": {
        "tags": [
          "Employee Time Off Plan Assignment"
        ],
        "summary": "Put Employee Plan Starting Balance",
        "description": "Data Access= Update an Employee Starting Balance to Time Off Plans",
        "operationId": "Update an Employee Starting Balance to Time Off Plans",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeTimeOffPlanAssignments",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeeTimeOffPlanAssignment",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeeTimeOffPlanAssignment"
                  },
                  "$ref": "#/components/schemas/EmployeeTimeOffPlanAssignment"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Returns the details of the Time Off Plans assigned to the Employee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/timeoffrequests": {
      "get": {
        "tags": [
          "Time Off Requests"
        ],
        "summary": "Get Employee Time Off Requests by EmployeeId",
        "description": "Date requirements:\n* Start Date and End Date must not be more than one year ago\n* Start date and end date range can be no greater than 90 days\n\nData Access: View Timeoff Requests by Employee Id",
        "operationId": "Get Employee TimeOff Requests by EmployeeID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the Employee for which you want to get the Time Off Requests.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get the next set of results.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Time Off Requests for specific Employee.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfEmployeeTimeOffRequest"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/schedulegroups": {
      "get": {
        "tags": [
          "Legal Entity Schedule Groups"
        ],
        "summary": "Get Schedules Groups for Legal Entity",
        "description": "Data Access: View Legal Entity Schedule Groups",
        "operationId": "Get Legal Entity Schedule Groups by Legal Entity Id",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity you want to get Schedule Groups",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "A token to get next set of results",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of Schedule Groups for the specified Legal Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfScheduleGroup"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/CreatePunches": {
      "post": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Create Punches for Employee(s) under Legal Entity",
        "description": "Data access= Create Punches for Employee(s)\n\nTip=\n* Use the Tracking ID for the punches being created to check if there are any errors with the punches.\n* To check Punch error logs by Legal Entity ID and Tracking ID, use the following GET endpoint= Get Punch error logs by Legal Entity Id and Tracking Id",
        "operationId": "Create Punches for Employee(s)",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for whose employees you want to create punches",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeePunch",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeePunch",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeePunch"
                  },
                  "$ref": "#/components/schemas/EmployeePunch"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "202": {
            "description": "Returns a CreateOrUpdateResponse object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/CreateHours": {
      "post": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Create Hours for Employee(s) under Legal Entity",
        "description": "Data access= Create Hours for Employee(s)\n\nTip=\n* Use the Tracking ID for the hours being created to check if there are any errors with the hours.\n* To check Hour error logs by Legal Entity ID and Tracking ID, use the following GET endpoint= Get Employee Hour error logs by Legal Entity Id and Tracking Id",
        "operationId": "Create Hours for Employee(s)",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for whose employees you want to create hours",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeHours",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "xml": {
                  "name": "ArrayOfEmployeeHour",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeeHour"
                  },
                  "$ref": "#/components/schemas/EmployeeHour"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "202": {
            "description": "Returns a CreateOrUpdateResponse object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/punchErrorLog/{trackingId}": {
      "get": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Get Punch error logs by Legal Entity Id And Tracking Id",
        "description": "Data Access: View Punch Error Log",
        "operationId": "Get Punch Error log by Legal Entity ID And Tracking ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the Punch Error log.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "description": "ID of the Punch Create api failure result.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Punch Error log for specific Legal Entity and tracking ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPunchErrorLog"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/HourErrorLog/{trackingId}": {
      "get": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Get Employee Hour error logs by Legal Entity Id And Tracking Id",
        "description": "Data Access: View Hour Error Log.",
        "operationId": "Get Employee Hour Error log by Legal Entity ID And Tracking ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the Hour Error log.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "description": "ID of the Hour Request Create api failure result.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Hour Error log for specific Legal Entity and tracking ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfHourErrorLog"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/payItemErrorLog/{trackingId}": {
      "get": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Get Employee PayItem Request error logs by Legal Entity Id And Tracking Id",
        "description": "Data Access: View Pay Item Error Log",
        "operationId": "Get PayItem Error log by Legal Entity ID And Tracking ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the PayItem error logs.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "description": "ID of the Employee PayItem Failure result.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Pay Item Request Error log for specific Legal Entity and tracking ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPayItemErrorLog"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/payItems": {
      "get": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Get Employee Pay Items by Legal Entity ID",
        "description": "Tip:\n* It can take up to 5 minutes for a created Pay Item to return from the API.\n            \nDate requirements:\n* Start date and end date range can be no greater than 30 days\n            \nData Access: View Employee Pay Items by Legal Entity ID",
        "operationId": "Get Employee Pay Items by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to get the PayItems.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date that is earlier or equal to get PayItems data. No timestamp is needed, FORMAT: 2020-09-13 ",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date that is after or equal to get PayItems data. No timestamp is needed, FORMAT: 2020-09-13",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Employee PayItems",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns PayItems for specific Legal Entity with given date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPayItem"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/CreatePayItems": {
      "post": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Create Pay Item(s) for Employee under Legal Entity",
        "description": "Tip=\n* It can take up to 5 minutes for a created Pay Item to return from the API.\n* Maximum allowed number of records per request= 100\n            \nData Access= Create Pay Items for Employee(s)\n\nTip=\n* Use the Tracking ID for the payitem being created to check if there are any errors with the payitems.\n* To check PayItem error logs by Legal Entity ID and Tracking ID, use the following GET endpoint= Get Employee PayItem Request error logs by Legal Entity Id and Tracking Id",
        "operationId": "Create Employee Pay Items by Legal Entity ID",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of the Legal Entity for which you want to create the PayItems.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "payItems",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 100,
                "xml": {
                  "name": "ArrayOfPayItem",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "PayItem"
                  },
                  "$ref": "#/components/schemas/PayItem2"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Returns a status code without body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/employeePunches": {
      "get": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Get Employee Punches by EmployeeID",
        "description": "Tip:\n* It can take up to 5 minutes for a created Punches to return from the API.\n            \nDate requirements:\n* Start date and end date range can be no greater than 31 days\n\nData Access: View Employee Punches by EmployeeId",
        "operationId": "Get Employee Punches by Legal Entity ID",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the Employee for which you want to get the punches.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date that is earlier or equal to get punch data.No timestamp is needed, FORMAT: 2020-09-13 ",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date that is after or equal to get punch data.No timestamp is needed, FORMAT: 2020-09-13",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Returns List of Punches and details for specific employee based on employeeid and date range of 31 days.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "ArrayOfEmployeePunch",
                    "wrapped": true
                  },
                  "items": {
                    "xml": {
                      "name": "EmployeePunch"
                    },
                    "$ref": "#/components/schemas/EmployeePunch2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/DeletePunches": {
      "delete": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "Delete Employee Punches by PunchID",
        "description": "Tip=\n* Ensure that the PunchId provided is valid and exists in the system.\n* Maximum allowed number of records per request= 100\n            \nData Access= Delete Employee Punches by Punch Id\n\n Tip=\n* Use the Tracking ID for the punches being deleted to check if there are any errors with the punches.\n* To check Punch error logs by Legal Entity ID and Tracking ID, use the following GET endpoint= Get Punches error logs by Legal Entity Id and Tracking Id",
        "operationId": "Delete Employees Punches by PunchId",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "description": "ID of the employee for which you want to delete the punches.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "employeeDeletePunches",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 100,
                "xml": {
                  "name": "ArrayOfEmployeePunch",
                  "wrapped": true
                },
                "items": {
                  "xml": {
                    "name": "EmployeePunch"
                  },
                  "$ref": "#/components/schemas/EmployeePunch3"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legalentities/{legalEntityId}/unassignedpunches": {
      "get": {
        "tags": [
          "Legal Entity Time Data"
        ],
        "summary": "GET Unassigned Punches by Legal Entity Id",
        "description": "This pulls Punches data from Paycor's Perform Time system for one employee.\n* Clients *do not* need to run payroll before hours are returned by this endpoint.\n* Our Public API currently does not include whether the hours have already been Approved or not.\n* Time Card punches may be delayed by 20 minutes.\n            \nDate requirements:\n* Start Date and End Date must not be more than one year ago\n* Start Date must not be in future\n* Start date and end date range can be no greater than 90 days\n            \nData Access: View Legal Entity Unassigned Punches\n            \nEndpoint can only be used if the Client has the Perform Time Service",
        "operationId": "LegalEntityTimeData_GetUnassignedPunchesbyLegalEntityId",
        "parameters": [
          {
            "name": "legalEntityId",
            "in": "path",
            "required": true,
            "description": "ID of legal entity for which you want to get unassigned punches",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date range filter, showing which records to return",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Token to get next set of Employee Time Cards. ContinuationToken would be valid only for 24 hours. If a call is made after 24 hours with old continuationToken, no data will be retrieved.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Time Card collection, based on Legal Entity Id and provided date ranges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfUnassignedTimeCardPunch"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorRateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycorError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/employeeHours": {
      "get": {
        "tags": [
[...]
